<%= image_tag "/logo.png" =%>

<p style="font-family: sans-serif; color: black; font-size: 13px">
  Conversão de moeda solicitada:
  <br /><br />
  $<%= @quantity %> <%= @currency %> = $<%= @result %> <%= @currency_destination %>
</p>

